{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div class="flex">
    {% for projet in projets %}
    <div class="card">
        {% for image in projet.images %}
        {% if loop.first %}
        <img src="{{ asset('/uploads/' ~ image.name) }}" class="card-img-top" alt="...">
        {% endif %}
        {% endfor %}
        <div class="card-body">
          <h5 class="card-title">projet pour {{ projet.client }}</h5>
          <p class="card-text">{{ projet.description }}</p>
          <a href="{{ path('projet_show', {'id': projet.id}) }}" class="btn btn-primary">plus d'images</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
