<ul class="nav justify-content-around">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('home') }}">Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_login') }}">Admin</a>
    </li>
  </ul>